.card {
  display: flex;
  flex-grow:1;
  background-color: green;
  width:200px;
  height:100px;
  margin:5px;
}

.driver {
  display: flex;
  flex-direction: column;
  width:50%;
}
.topdown {
  height:50%;
}

.details {
  background-color: red;
}

.a {
  background-color: yellow;
}

.b {
  background-color: blueviolet;
}