<form>
  <section class="">

    <!-- check boxes -->
    <div class="cb">
      <labeled-checkbox [(checked)]="truckFilter.BillOfLading" label="Frachtbrief"></labeled-checkbox>
      <labeled-checkbox [(checked)]="truckFilter.ForkLiftLicense" label="Gabelstaplerschein"></labeled-checkbox>
      <labeled-checkbox [(checked)]="truckFilter.DangerousDrivingLicense" label="Gefahrgutschein"></labeled-checkbox>
      <labeled-checkbox [(checked)]="truckFilter.ProfessionalDriver" label="Berufskraftfahrer"></labeled-checkbox>
    </div>

    <!-- combox boxes -->
    <div>

    </div>

    <!-- person data -->
    <div>

    </div>

    <div class="inputs"></div>
  </section>
  <section class="personenDaten"></section>
  <section class="controls">
    <button (click)="test()">Test</button>
  </section>
</form>
