<form>
  <section class="">
    <div class="cb">
      <labeled-checkbox [(checked)]="frachtbrief" label="Frachtbrief"></labeled-checkbox>
      <labeled-checkbox [(checked)]="gabelstaplerschein" label="Gabelstaplerschein"></labeled-checkbox>
      <labeled-checkbox [(checked)]="gefahrgutschein" label="Gefahrgutschein"></labeled-checkbox>
      <labeled-checkbox [(checked)]="berufskraftfahrer" label="Berufskraftfahrer"></labeled-checkbox>

    </div>
    <div class="inputs"></div>
  </section>
  <section class="personenDaten"></section>
  <section class="controls">
    <button (click)="test()">Test</button>
  </section>
</form>
