<form #searchForm="ngForm" (ngSubmit)="startSearch(searchForm.form)" > 

<section class="searchForm">
    <!-- check boxes -->
    <div formGroupName="skills" class="searchSkill">
      <span>
        <input type="checkbox" name="frachtbrief" ngModel>
        <label>Frachtbrief</label>
      </span>
      
      <span>
        <input type="checkbox" name="gabelstaplerschein" ngModel>
        <label>Gabelstaplerschein</label>
      </span>

      <span>
        <input type="checkbox" name="gefahrgutschein" ngModel>
        <label>Gefahrgutschein</label>
      </span>

      <span>
        <input type="checkbox" name="berufskraftfahrer" ngModel>
        <label>Berufskraftfahrer</label>
      </span>      
    </div>

    <!-- combox boxes -->
      <span class="searchLicense">
        <label>Führerscheinlizenz</label>
        <p-multiSelect [options]="licenses" name="selectedLicense" [(ngModel)]="selectedLicense"></p-multiSelect>
      </span>
   
    <!-- person data -->
    <div formGroupName="personenDaten" class="searchPersonen">
        <div>
          <label>Vorname</label>
          <input pInputText type="text" ngModel name="vorname">
        </div>
        <div>
          <label>Nachname</label>
          <input pInputText type="text" ngModel name="nachname">
          </div>
        <div>
          <label>Geburtsdatum</label>
          <input pInputText type="text" ngModel name="gebDatum">
        </div>
        <div>
        <label>E-Mail</label>
        <input pInputText type="email" ngModel name="email">
        </div>
        <div>
          <label>Land</label>
          <input pInputText type="text" ngModel name="land">
        </div>
    </div>
  </section>

  <section class="searchControls">
    <button type="submit" pButton label="Suchen"></button>
  </section>
</form>
