header {
  background-color: rgba(130, 25, 39, 1);
  color: rgb(235, 235, 235);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(235, 235, 235);
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

nav a:hover {
  background-color: #df691a;
}

.logo {
  font-size: 19px;
}
